<!DOCTYPE html>
<html>
<head>
	<title>Firekylin主题</title>
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
</head>
<body>
<nav class="navbar">
  <div class="nav-container">
    <ul>
      <li>
        <a href="../../home/index/index.html" title="">Home</a>
        <a href="../../theme/index/index.html" title="">ThemeStore</a>
        <a href="#3" title="">Users</a>
        <a href="../../user/login/index.html" title="login">Login</a>      </li>
    </ul>
  </div>
</nav>
<main>
	<header>
		<h2>Themes Store</h2>
		<p><a href="" title="upload"></a></p>
	</header>
	<!--select and search-->
	<div>
		<div></div>
		<div></div>
	</div>
	<section>
		<figure>
			<figcaption>explanatory caption</figcaption>
			
		</figure>
	</section>
</main>
<footer>
	
</footer>
</body>
</html>