<!DOCTYPE html>
<html>
<head>
	<title>Firekylin主题</title>
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
	<link rel="stylesheet" href="/static/css/theme_index.css">
</head>
<body>
	<!--Theme Store 导航栏-->
<nav class="navbar">
  <div class="nav-container">
    <ul class="nav">
      <li>
        <a href="../../home/index/index.html" title="">Home</a>
        <a href="../../theme/index/index.html" title="">ThemeStore</a>
        <a href="#3" title="">Users</a>
				<a href="../../user/login/index.html" title="login"><%= username %></a>
				<%-logout%>
		  </li>
	  </ul>
  </div>
</nav>
<main>
	<header id="list-header">
		<h1>Themes Store</h1>
		<!--选择主题列表或上传主题-->
		<div class="mode-center">
			<ul>
					<li><a href="../../theme/index/index.html">ThemeList</a></li>
					<li><a href="../../theme/upload/index.html">Upload your theme</a></li>
			</ul>
		</div>
	</header>
	<!--select and search-->
	<section>
        <h2>Submit Your Theme to the Theme Store(*.zip)</h2>
        <form action="" method="">
					<input type="file" name="" id="" accept="aplication/zip">
					<button type="submit"></button>
				</form>
    </section>
    
</main>
<footer>
	
</footer>
</body>
</html>