<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Firekkylin</title>
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
</head>
<body>
<nav class="navbar">
  <div class="nav-container">
    <ul>
      <li>
        <a href="../../home/index/index.html" title="">Home</a>
        <a href="../../theme/index/index.html" title="">ThemeStore</a>
        <a href="#3" title="">Users</a>
        <a href="../../user/login/index.html" title="login">Login</a>
      </li>
    </ul>
  </div>
</nav>
</body>
</html>
